In [ ]:
%load_ext sql

In [ ]:
# Redshift 연결
%sql postgresql://ID:PASSWORD@default-workgroup.201253867267.us-west-2.redshift-serverless.amazonaws.com:5439/dev

In [ ]:
%%sql

/*
  전처리한 데이터를 Redshift에 적재하기 위해,
  raw_data라는 스키마 안에 테이블을 생성
*/
-- CREATE SCHEMA raw_data;
DROP TABLE IF EXISTS raw_data.preprocessed;
CREATE TABLE raw_data.preprocessed (
  title varchar(255),
  created_at date,
  price integer,
  shop_type varchar(50),
  votes integer,
  views integer,
  product varchar(255),
  components_of_computer varchar(255)
);

   postgresql://admin:***@default-workgroup.471112861727.ap-northeast-2.redshift-serverless.amazonaws.com:5439/dev
 * postgresql://member1:***@default-workgroup.201253867267.us-west-2.redshift-serverless.amazonaws.com:5439/dev
   postgresql://member2:***@default-workgroup.201253867267.us-west-2.redshift-serverless.amazonaws.com:5439/dev
   postgresql://member3:***@default-workgroup.201253867267.us-west-2.redshift-serverless.amazonaws.com:5439/dev
Done.
Done.
Done.
Done.

[]

In [ ]:
%%sql

COPY raw_data.preprocessed
FROM 's3://electronic-items-comparison/pjt02/preprocessed.csv'
credentials 'aws_iam_role=arn:aws:iam::201253867267:role/redshift.read.s3'
delimiter ',' dateformat 'auto' timeformat 'auto' IGNOREHEADER 1 removequotes;

   postgresql://admin:***@default-workgroup.471112861727.ap-northeast-2.redshift-serverless.amazonaws.com:5439/dev
 * postgresql://member1:***@default-workgroup.201253867267.us-west-2.redshift-serverless.amazonaws.com:5439/dev
   postgresql://member2:***@default-workgroup.201253867267.us-west-2.redshift-serverless.amazonaws.com:5439/dev
   postgresql://member3:***@default-workgroup.201253867267.us-west-2.redshift-serverless.amazonaws.com:5439/dev
Done.
Done.

[]

In [ ]:
%%sql

/*
  ERD에 맞게 Production DB용으로 테이블을 생성 및 적재
*/
-- CREATE SCHEMA analytics;
DROP TABLE IF EXISTS analytics.product;
CREATE TABLE analytics.product AS
(
  SELECT
    row_number() over(order by product_name) product_id,
    product product_name,
    components_of_computer
  FROM raw_data.preprocessed
  GROUP BY product_name,components_of_computer
);

/*
  post테이블의 shop_type은 전처리 과정으로 생긴
  여러 형태의 NULL을 하나의 값으로 처리하는 작업을 진행.
*/
DROP TABLE IF EXISTS analytics.post;
CREATE TABLE analytics.post AS
(
  SELECT
    row_number() over(order by created_at) post_id,
    product_id,
    price,
    CASE
      WHEN shop_type='NULL' THEN '기타'
      WHEN shop_type='None' THEN '기타'
      WHEN shop_type is NULL THEN '기타'
      WHEN shop_type = '' THEN '기타'
      ELSE shop_type
    END shop_type,
    votes,
    views,
    title,
    created_at
  FROM raw_data.preprocessed a
  JOIN analytics.product b
  ON a.product = b.product_name
);

   postgresql://admin:***@default-workgroup.471112861727.ap-northeast-2.redshift-serverless.amazonaws.com:5439/dev
 * postgresql://member1:***@default-workgroup.201253867267.us-west-2.redshift-serverless.amazonaws.com:5439/dev
   postgresql://member2:***@default-workgroup.201253867267.us-west-2.redshift-serverless.amazonaws.com:5439/dev
   postgresql://member3:***@default-workgroup.201253867267.us-west-2.redshift-serverless.amazonaws.com:5439/dev
Done.
Done.
Done.
Done.

[]

In [ ]:
%%sql

/*
  데이터 분석 및 시각화를 위한 테이블 생성
*/
DROP TABLE IF EXISTS analytics.summary;
CREATE TABLE analytics.summary AS
(
  SELECT
    post_id,
    product_name,
    components_of_computer,
    price,
    shop_type,
    votes,
    views,
    title,
    created_at
  FROM analytics.post a
  JOIN analytics.product b
  ON a.product_id = b.product_id
)

   postgresql://admin:***@default-workgroup.471112861727.ap-northeast-2.redshift-serverless.amazonaws.com:5439/dev
 * postgresql://member1:***@default-workgroup.201253867267.us-west-2.redshift-serverless.amazonaws.com:5439/dev
   postgresql://member2:***@default-workgroup.201253867267.us-west-2.redshift-serverless.amazonaws.com:5439/dev
   postgresql://member3:***@default-workgroup.201253867267.us-west-2.redshift-serverless.amazonaws.com:5439/dev
Done.
Done.

[]

In [ ]:
%%sql

/*
    Outlier 및 이상한 값 제거,
    원래는 3Sigma Rule, IQR를 사용해 처리를 해줘야하지만
    
    가격 변동이 큰 데이터의 특성과 유의한 데이터의 수가 생각보다 많지 않다는 것을 감안해
    일괄 처리를 하지 않고 맨눈으로 확인하며 진행.
*/

DELETE FROM analytics.summary
WHERE title LIKE '%본체%';

DELETE FROM analytics.summary
WHERE title LIKE '%패키지%' AND components_of_computer != 'ram';

DELETE FROM analytics.summary
WHERE title similar to '%(완본|조립)%';

DELETE FROM analytics.summary
WHERE price < 10000 OR title similar to '%(래플|중고|12400F|12400f)%';

DELETE FROM analytics.summary
WHERE title LIKE '%ddr%' AND components_of_computer != 'ram';

DELETE FROM analytics.summary
WHERE components_of_computer = 'mainboard' AND product_name = 'A320' AND price > 100000;

   postgresql://admin:***@default-workgroup.471112861727.ap-northeast-2.redshift-serverless.amazonaws.com:5439/dev
 * postgresql://member1:***@default-workgroup.201253867267.us-west-2.redshift-serverless.amazonaws.com:5439/dev
   postgresql://member2:***@default-workgroup.201253867267.us-west-2.redshift-serverless.amazonaws.com:5439/dev
   postgresql://member3:***@default-workgroup.201253867267.us-west-2.redshift-serverless.amazonaws.com:5439/dev
132 rows affected.
17 rows affected.
29 rows affected.
118 rows affected.
24 rows affected.
8 rows affected.

[]