In [2]:
%load_ext sql

In [1]:
!pip install ipython-sql==0.4.1

Requirement already satisfied: ipython-sql==0.4.1 in /usr/local/lib/python3.10/dist-packages (0.4.1)
Requirement already satisfied: prettytable<1 in /usr/local/lib/python3.10/dist-packages (from ipython-sql==0.4.1) (0.7.2)
Requirement already satisfied: ipython>=1.0 in /usr/local/lib/python3.10/dist-packages (from ipython-sql==0.4.1) (7.34.0)
Requirement already satisfied: sqlalchemy>=0.6.7 in /usr/local/lib/python3.10/dist-packages (from ipython-sql==0.4.1) (2.0.30)
Requirement already satisfied: sqlparse in /usr/local/lib/python3.10/dist-packages (from ipython-sql==0.4.1) (0.5.0)
Requirement already satisfied: six in /usr/local/lib/python3.10/dist-packages (from ipython-sql==0.4.1) (1.16.0)
Requirement already satisfied: ipython-genutils>=0.1.0 in /usr/local/lib/python3.10/dist-packages (from ipython-sql==0.4.1) (0.2.0)
Requirement already satisfied: setuptools>=18.5 in /usr/local/lib/python3.10/dist-packages (from ipython>=1.0->ipython-sql==0.4.1) (67.7.2)
Requirement already satisfied: jedi>=0.16 in /usr/local/lib/python3.10/dist-packages (from ipython>=1.0->ipython-sql==0.4.1) (0.19.1)
Requirement already satisfied: decorator in /usr/local/lib/python3.10/dist-packages (from ipython>=1.0->ipython-sql==0.4.1) (4.4.2)
Requirement already satisfied: pickleshare in /usr/local/lib/python3.10/dist-packages (from ipython>=1.0->ipython-sql==0.4.1) (0.7.5)
Requirement already satisfied: traitlets>=4.2 in /usr/local/lib/python3.10/dist-packages (from ipython>=1.0->ipython-sql==0.4.1) (5.7.1)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in /usr/local/lib/python3.10/dist-packages (from ipython>=1.0->ipython-sql==0.4.1) (3.0.43)
Requirement already satisfied: pygments in /usr/local/lib/python3.10/dist-packages (from ipython>=1.0->ipython-sql==0.4.1) (2.16.1)
Requirement already satisfied: backcall in /usr/local/lib/python3.10/dist-packages (from ipython>=1.0->ipython-sql==0.4.1) (0.2.0)
Requirement already satisfied: matplotlib-inline in /usr/local/lib/python3.10/dist-packages (from ipython>=1.0->ipython-sql==0.4.1) (0.1.7)
Requirement already satisfied: pexpect>4.3 in /usr/local/lib/python3.10/dist-packages (from ipython>=1.0->ipython-sql==0.4.1) (4.9.0)
Requirement already satisfied: typing-extensions>=4.6.0 in /usr/local/lib/python3.10/dist-packages (from sqlalchemy>=0.6.7->ipython-sql==0.4.1) (4.11.0)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.10/dist-packages (from sqlalchemy>=0.6.7->ipython-sql==0.4.1) (3.0.3)
Requirement already satisfied: parso<0.9.0,>=0.8.3 in /usr/local/lib/python3.10/dist-packages (from jedi>=0.16->ipython>=1.0->ipython-sql==0.4.1) (0.8.4)
Requirement already satisfied: ptyprocess>=0.5 in /usr/local/lib/python3.10/dist-packages (from pexpect>4.3->ipython>=1.0->ipython-sql==0.4.1) (0.7.0)
Requirement already satisfied: wcwidth in /usr/local/lib/python3.10/dist-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython>=1.0->ipython-sql==0.4.1) (0.2.13)

In [1]:
!pip install SQLAlchemy==1.4.47

Requirement already satisfied: SQLAlchemy==1.4.47 in /usr/local/lib/python3.10/dist-packages (1.4.47)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.10/dist-packages (from SQLAlchemy==1.4.47) (3.0.3)

In [4]:
%sql postgresql://:@

In [5]:
%%sql

CREATE SCHEMA IF NOT EXISTS sample_data;

 * postgresql://admin:***@default-workgroup.471112861727.ap-northeast-2.redshift-serverless.amazonaws.com:5439/dev
Done.

[]

In [7]:
%%sql

CREATE TABLE IF NOT EXISTS sample_data.product(
  product_id integer primary key,
  product_name varchar(255) not null,
  components_of_computer varchar(255)
);

CREATE TABLE IF NOT EXISTS sample_data.post(
  post_id integer primary key,
  product_id integer not null,
  price integer,
  shop_type varchar(50),
  likes integer,
  views integer,
  created_at date not null
);

 * postgresql://admin:***@default-workgroup.471112861727.ap-northeast-2.redshift-serverless.amazonaws.com:5439/dev
Done.
Done.

[]

In [9]:
%%sql

INSERT INTO sample_data.product (product_id,product_name,components_of_computer)
VALUES
  (1,'Adobe','CASE'),
  (2,'Object','CPU'),
  (3,'Amazon','MAINBOARD'),
  (4,'Teach','FAN'),
  (5,'Deep','COOLER'),
  (6,'Test','MAINBOARD'),
  (7,'Holy','RAM'),
  (8,'Google','CASE'),
  (9,'Talk','GPU'),
  (10,'Right','RAM'),
  (11,'Desert','CPU'),
  (12,'How','COOLER'),
  (13,'Happen','GPU'),
  (14,'Day','MAINBOARD'),
  (15,'Text','COOLER'),
  (16,'Microsoft','RAM'),
  (17,'Sibelius','CPU'),
  (18,'Apple','COOLER'),
  (19,'Temp','CPU'),
  (20,'Console','FAN'),
  (21,'Done','SSD'),
  (22,'Suffer','SSD'),
  (23,'Cakewalk','COOLER'),
  (24,'Object','MAINBOARD'),
  (25,'Not','COOLER'),
  (26,'Exam','GPU'),
  (27,'Behold','COOLER'),
  (28,'Lavasoft','SSD'),
  (29,'Con','FAN'),
  (30,'Walk','SSD');

INSERT INTO sample_data.post (post_id,product_id,price,shop_type,likes,views,created_at)
VALUES
  (1,19,819137,'Citroën',474,227,'2023-06-11'),
  (2,28,661805,'Mazda',360,143,'2023-06-30'),
  (3,9,1213605,'JLR',414,23,'2024-09-20'),
  (4,15,1089793,'Kia Motors',490,237,'2023-07-28'),
  (5,6,3643790,'Toyota',337,127,'2024-07-11'),
  (6,7,813433,'Vauxhall',436,214,'2023-02-23'),
  (7,21,368757,'General Motors',438,258,'2024-05-27'),
  (8,18,1575768,'Ford',228,220,'2024-01-03'),
  (9,15,3609361,'Mahindra and Mahindra',4,298,'2023-08-20'),
  (10,19,4713020,'Cadillac',283,210,'2024-04-25'),
  (11,26,4896695,'Mercedes-Benz',370,320,'2023-06-21'),
  (12,27,4939523,'General Motors',392,308,'2023-06-04'),
  (13,18,2172241,'Dacia',419,353,'2024-02-25'),
  (14,15,4031390,'Porsche',372,398,'2023-06-06'),
  (15,7,1742192,'Dacia',317,345,'2024-03-19'),
  (16,28,12666,'Mercedes-Benz',150,21,'2024-10-03'),
  (17,27,3026339,'Lexus',54,475,'2024-10-06'),
  (18,14,1285134,'Kia Motors',44,215,'2024-03-21'),
  (19,17,4648549,'Infiniti',91,39,'2024-04-07'),
  (20,3,3445108,'MINI',330,54,'2024-08-24'),
  (21,27,4354869,'BMW',286,271,'2023-04-10'),
  (22,11,1465026,'BMW',80,149,'2023-05-02'),
  (23,12,1473093,'Acura',139,419,'2024-10-05'),
  (24,14,4870544,'FAW',397,102,'2024-05-14'),
  (25,21,1077266,'Ford',413,74,'2024-03-21'),
  (26,20,3907145,'Volkswagen',447,110,'2023-02-06'),
  (27,20,4249618,'Subaru',165,452,'2023-05-13'),
  (28,10,210469,'Hyundai Motors',120,213,'2023-07-10'),
  (29,26,4931773,'Dacia',30,456,'2024-03-04'),
  (30,28,4003152,'Buick',275,238,'2024-04-11'),
  (31,19,481363,'Chevrolet',235,436,'2024-02-17'),
  (32,6,2644058,'GMC',20,270,'2024-10-05'),
  (33,16,4216245,'Infiniti',169,293,'2023-03-02'),
  (34,13,1312199,'Citroën',492,253,'2024-01-07'),
  (35,7,1308843,'JLR',324,84,'2023-08-07'),
  (36,16,4101973,'Dongfeng Motor',238,148,'2023-01-22'),
  (37,20,1135917,'Buick',15,436,'2024-08-02'),
  (38,15,4024579,'Kia Motors',372,171,'2023-01-14'),
  (39,21,2682891,'Daihatsu',218,253,'2023-02-22'),
  (40,4,1100376,'Chrysler',346,485,'2024-04-12'),
  (41,15,2739426,'BMW',168,481,'2023-07-09'),
  (42,7,280682,'Fiat',340,404,'2024-10-23'),
  (43,12,1193973,'Toyota',165,93,'2023-09-10'),
  (44,20,4288439,'Volvo',491,469,'2024-09-21'),
  (45,4,2550987,'Kia Motors',324,451,'2024-06-26'),
  (46,25,2300112,'Suzuki',89,307,'2024-06-13'),
  (47,4,4234291,'Mercedes-Benz',323,464,'2024-08-27'),
  (48,16,1149841,'Ferrari',490,331,'2023-07-10'),
  (49,22,1747890,'GMC',275,17,'2024-09-21'),
  (50,3,514749,'Smart',79,68,'2023-09-08'),
  (51,30,1378942,'Volvo',455,444,'2024-09-29'),
  (52,27,4921475,'Hyundai Motors',361,269,'2024-10-14'),
  (53,13,1112954,'MINI',87,458,'2023-11-15'),
  (54,17,3917557,'Honda',442,422,'2023-04-14'),
  (55,18,3792596,'Suzuki',353,134,'2023-12-25'),
  (56,18,16256,'Mercedes-Benz',134,203,'2023-04-27'),
  (57,6,1747770,'Acura',469,405,'2023-07-06'),
  (58,6,2240056,'Skoda',284,331,'2023-03-16'),
  (59,25,341690,'Peugeot',237,196,'2024-03-20'),
  (60,21,4946174,'Volvo',112,368,'2024-03-04'),
  (61,24,1026267,'RAM Trucks',359,378,'2023-05-31'),
  (62,27,376166,'Infiniti',424,82,'2023-08-01'),
  (63,21,2648974,'Lexus',296,219,'2024-10-11'),
  (64,14,634225,'Daimler',75,297,'2023-05-22'),
  (65,7,4965072,'Acura',394,323,'2023-03-13'),
  (66,24,812600,'FAW',413,280,'2024-06-16'),
  (67,23,1141312,'Mahindra and Mahindra',345,349,'2024-08-03'),
  (68,7,1144005,'Skoda',14,240,'2023-08-01'),
  (69,15,2882758,'Skoda',118,317,'2024-07-24'),
  (70,22,1447435,'Dongfeng Motor',26,422,'2023-05-03'),
  (71,23,1099367,'JLR',382,241,'2023-07-12'),
  (72,4,3692193,'Acura',366,486,'2023-11-28'),
  (73,11,4117394,'Chevrolet',439,198,'2023-04-19'),
  (74,4,2849499,'Porsche',253,16,'2023-09-08'),
  (75,22,4697422,'Cadillac',377,25,'2024-07-01'),
  (76,16,542921,'Dongfeng Motor',304,270,'2023-03-10'),
  (77,23,2524577,'General Motors',268,278,'2024-06-25'),
  (78,14,933292,'Acura',302,445,'2024-08-16'),
  (79,25,240473,'Lincoln',414,215,'2023-06-05'),
  (80,19,4242066,'Peugeot',475,309,'2023-11-12'),
  (81,20,1573794,'Lexus',404,289,'2024-08-15'),
  (82,17,4487071,'Kenworth',456,265,'2024-01-18'),
  (83,12,3819164,'Lincoln',129,205,'2024-03-11'),
  (84,6,1086580,'Subaru',299,372,'2024-08-15'),
  (85,9,4997928,'Jeep',432,95,'2023-12-20'),
  (86,24,1805655,'Mercedes-Benz',175,120,'2024-10-15'),
  (87,6,1248034,'Smart',69,246,'2023-02-01'),
  (88,4,1818137,'Vauxhall',350,250,'2023-09-27'),
  (89,4,52518,'Skoda',67,28,'2023-05-06'),
  (90,17,342295,'Dacia',76,321,'2024-07-02'),
  (91,4,2928920,'Daimler',128,158,'2023-05-08'),
  (92,16,3019525,'Toyota',392,175,'2024-03-24'),
  (93,27,3737926,'FAW',250,225,'2023-03-01'),
  (94,8,3542452,'Ford',385,448,'2023-08-11'),
  (95,11,3702498,'FAW',370,17,'2024-06-21'),
  (96,27,4217594,'Suzuki',349,323,'2023-01-26'),
  (97,21,1551879,'Isuzu',490,369,'2024-06-07'),
  (98,15,4389015,'Toyota',84,162,'2023-08-27'),
  (99,24,537642,'Citroën',272,70,'2023-06-03'),
  (100,8,4446348,'Renault',126,494,'2024-05-04');

 * postgresql://admin:***@default-workgroup.471112861727.ap-northeast-2.redshift-serverless.amazonaws.com:5439/dev
30 rows affected.
100 rows affected.

[]

In [12]:
%%sql

SELECT * FROM sample_data.product;

SELECT * FROM sample_data.post;

 * postgresql://admin:***@default-workgroup.471112861727.ap-northeast-2.redshift-serverless.amazonaws.com:5439/dev
30 rows affected.
100 rows affected.

[(1, 19, 819137, 'Citroën', 474, 227, datetime.date(2023, 6, 11)),
 (2, 28, 661805, 'Mazda', 360, 143, datetime.date(2023, 6, 30)),
 (3, 9, 1213605, 'JLR', 414, 23, datetime.date(2024, 9, 20)),
 (4, 15, 1089793, 'Kia Motors', 490, 237, datetime.date(2023, 7, 28)),
 (5, 6, 3643790, 'Toyota', 337, 127, datetime.date(2024, 7, 11)),
 (6, 7, 813433, 'Vauxhall', 436, 214, datetime.date(2023, 2, 23)),
 (7, 21, 368757, 'General Motors', 438, 258, datetime.date(2024, 5, 27)),
 (8, 18, 1575768, 'Ford', 228, 220, datetime.date(2024, 1, 3)),
 (9, 15, 3609361, 'Mahindra and Mahindra', 4, 298, datetime.date(2023, 8, 20)),
 (10, 19, 4713020, 'Cadillac', 283, 210, datetime.date(2024, 4, 25)),
 (11, 26, 4896695, 'Mercedes-Benz', 370, 320, datetime.date(2023, 6, 21)),
 (12, 27, 4939523, 'General Motors', 392, 308, datetime.date(2023, 6, 4)),
 (13, 18, 2172241, 'Dacia', 419, 353, datetime.date(2024, 2, 25)),
 (14, 15, 4031390, 'Porsche', 372, 398, datetime.date(2023, 6, 6)),
 (15, 7, 1742192, 'Dacia', 317, 345, datetime.date(2024, 3, 19)),
 (16, 28, 12666, 'Mercedes-Benz', 150, 21, datetime.date(2024, 10, 3)),
 (17, 27, 3026339, 'Lexus', 54, 475, datetime.date(2024, 10, 6)),
 (18, 14, 1285134, 'Kia Motors', 44, 215, datetime.date(2024, 3, 21)),
 (19, 17, 4648549, 'Infiniti', 91, 39, datetime.date(2024, 4, 7)),
 (20, 3, 3445108, 'MINI', 330, 54, datetime.date(2024, 8, 24)),
 (21, 27, 4354869, 'BMW', 286, 271, datetime.date(2023, 4, 10)),
 (22, 11, 1465026, 'BMW', 80, 149, datetime.date(2023, 5, 2)),
 (23, 12, 1473093, 'Acura', 139, 419, datetime.date(2024, 10, 5)),
 (24, 14, 4870544, 'FAW', 397, 102, datetime.date(2024, 5, 14)),
 (25, 21, 1077266, 'Ford', 413, 74, datetime.date(2024, 3, 21)),
 (26, 20, 3907145, 'Volkswagen', 447, 110, datetime.date(2023, 2, 6)),
 (27, 20, 4249618, 'Subaru', 165, 452, datetime.date(2023, 5, 13)),
 (28, 10, 210469, 'Hyundai Motors', 120, 213, datetime.date(2023, 7, 10)),
 (29, 26, 4931773, 'Dacia', 30, 456, datetime.date(2024, 3, 4)),
 (30, 28, 4003152, 'Buick', 275, 238, datetime.date(2024, 4, 11)),
 (31, 19, 481363, 'Chevrolet', 235, 436, datetime.date(2024, 2, 17)),
 (32, 6, 2644058, 'GMC', 20, 270, datetime.date(2024, 10, 5)),
 (33, 16, 4216245, 'Infiniti', 169, 293, datetime.date(2023, 3, 2)),
 (34, 13, 1312199, 'Citroën', 492, 253, datetime.date(2024, 1, 7)),
 (35, 7, 1308843, 'JLR', 324, 84, datetime.date(2023, 8, 7)),
 (36, 16, 4101973, 'Dongfeng Motor', 238, 148, datetime.date(2023, 1, 22)),
 (37, 20, 1135917, 'Buick', 15, 436, datetime.date(2024, 8, 2)),
 (38, 15, 4024579, 'Kia Motors', 372, 171, datetime.date(2023, 1, 14)),
 (39, 21, 2682891, 'Daihatsu', 218, 253, datetime.date(2023, 2, 22)),
 (40, 4, 1100376, 'Chrysler', 346, 485, datetime.date(2024, 4, 12)),
 (41, 15, 2739426, 'BMW', 168, 481, datetime.date(2023, 7, 9)),
 (42, 7, 280682, 'Fiat', 340, 404, datetime.date(2024, 10, 23)),
 (43, 12, 1193973, 'Toyota', 165, 93, datetime.date(2023, 9, 10)),
 (44, 20, 4288439, 'Volvo', 491, 469, datetime.date(2024, 9, 21)),
 (45, 4, 2550987, 'Kia Motors', 324, 451, datetime.date(2024, 6, 26)),
 (46, 25, 2300112, 'Suzuki', 89, 307, datetime.date(2024, 6, 13)),
 (47, 4, 4234291, 'Mercedes-Benz', 323, 464, datetime.date(2024, 8, 27)),
 (48, 16, 1149841, 'Ferrari', 490, 331, datetime.date(2023, 7, 10)),
 (49, 22, 1747890, 'GMC', 275, 17, datetime.date(2024, 9, 21)),
 (50, 3, 514749, 'Smart', 79, 68, datetime.date(2023, 9, 8)),
 (51, 30, 1378942, 'Volvo', 455, 444, datetime.date(2024, 9, 29)),
 (52, 27, 4921475, 'Hyundai Motors', 361, 269, datetime.date(2024, 10, 14)),
 (53, 13, 1112954, 'MINI', 87, 458, datetime.date(2023, 11, 15)),
 (54, 17, 3917557, 'Honda', 442, 422, datetime.date(2023, 4, 14)),
 (55, 18, 3792596, 'Suzuki', 353, 134, datetime.date(2023, 12, 25)),
 (56, 18, 16256, 'Mercedes-Benz', 134, 203, datetime.date(2023, 4, 27)),
 (57, 6, 1747770, 'Acura', 469, 405, datetime.date(2023, 7, 6)),
 (58, 6, 2240056, 'Skoda', 284, 331, datetime.date(2023, 3, 16)),
 (59, 25, 341690, 'Peugeot', 237, 196, datetime.date(2024, 3, 20)),
 (60, 21, 4946174, 'Volvo', 112, 368, datetime.date(2024, 3, 4)),
 (61, 24, 1026267, 'RAM Trucks', 359, 378, datetime.date(2023, 5, 31)),
 (62, 27, 376166, 'Infiniti', 424, 82, datetime.date(2023, 8, 1)),
 (63, 21, 2648974, 'Lexus', 296, 219, datetime.date(2024, 10, 11)),
 (64, 14, 634225, 'Daimler', 75, 297, datetime.date(2023, 5, 22)),
 (65, 7, 4965072, 'Acura', 394, 323, datetime.date(2023, 3, 13)),
 (66, 24, 812600, 'FAW', 413, 280, datetime.date(2024, 6, 16)),
 (67, 23, 1141312, 'Mahindra and Mahindra', 345, 349, datetime.date(2024, 8, 3)),
 (68, 7, 1144005, 'Skoda', 14, 240, datetime.date(2023, 8, 1)),
 (69, 15, 2882758, 'Skoda', 118, 317, datetime.date(2024, 7, 24)),
 (70, 22, 1447435, 'Dongfeng Motor', 26, 422, datetime.date(2023, 5, 3)),
 (71, 23, 1099367, 'JLR', 382, 241, datetime.date(2023, 7, 12)),
 (72, 4, 3692193, 'Acura', 366, 486, datetime.date(2023, 11, 28)),
 (73, 11, 4117394, 'Chevrolet', 439, 198, datetime.date(2023, 4, 19)),
 (74, 4, 2849499, 'Porsche', 253, 16, datetime.date(2023, 9, 8)),
 (75, 22, 4697422, 'Cadillac', 377, 25, datetime.date(2024, 7, 1)),
 (76, 16, 542921, 'Dongfeng Motor', 304, 270, datetime.date(2023, 3, 10)),
 (77, 23, 2524577, 'General Motors', 268, 278, datetime.date(2024, 6, 25)),
 (78, 14, 933292, 'Acura', 302, 445, datetime.date(2024, 8, 16)),
 (79, 25, 240473, 'Lincoln', 414, 215, datetime.date(2023, 6, 5)),
 (80, 19, 4242066, 'Peugeot', 475, 309, datetime.date(2023, 11, 12)),
 (81, 20, 1573794, 'Lexus', 404, 289, datetime.date(2024, 8, 15)),
 (82, 17, 4487071, 'Kenworth', 456, 265, datetime.date(2024, 1, 18)),
 (83, 12, 3819164, 'Lincoln', 129, 205, datetime.date(2024, 3, 11)),
 (84, 6, 1086580, 'Subaru', 299, 372, datetime.date(2024, 8, 15)),
 (85, 9, 4997928, 'Jeep', 432, 95, datetime.date(2023, 12, 20)),
 (86, 24, 1805655, 'Mercedes-Benz', 175, 120, datetime.date(2024, 10, 15)),
 (87, 6, 1248034, 'Smart', 69, 246, datetime.date(2023, 2, 1)),
 (88, 4, 1818137, 'Vauxhall', 350, 250, datetime.date(2023, 9, 27)),
 (89, 4, 52518, 'Skoda', 67, 28, datetime.date(2023, 5, 6)),
 (90, 17, 342295, 'Dacia', 76, 321, datetime.date(2024, 7, 2)),
 (91, 4, 2928920, 'Daimler', 128, 158, datetime.date(2023, 5, 8)),
 (92, 16, 3019525, 'Toyota', 392, 175, datetime.date(2024, 3, 24)),
 (93, 27, 3737926, 'FAW', 250, 225, datetime.date(2023, 3, 1)),
 (94, 8, 3542452, 'Ford', 385, 448, datetime.date(2023, 8, 11)),
 (95, 11, 3702498, 'FAW', 370, 17, datetime.date(2024, 6, 21)),
 (96, 27, 4217594, 'Suzuki', 349, 323, datetime.date(2023, 1, 26)),
 (97, 21, 1551879, 'Isuzu', 490, 369, datetime.date(2024, 6, 7)),
 (98, 15, 4389015, 'Toyota', 84, 162, datetime.date(2023, 8, 27)),
 (99, 24, 537642, 'Citroën', 272, 70, datetime.date(2023, 6, 3)),
 (100, 8, 4446348, 'Renault', 126, 494, datetime.date(2024, 5, 4))]